In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [7]:
df0 = pd.read_csv("./dbikes/dublinbike-historical-data-2022-12.csv")
df1 = pd.read_csv("./dbikes/dublinbike-historical-data-2023-02.csv")
df2 = pd.read_csv("./dbikes/dublinbike-historical-data-2023-04.csv")
df3 = pd.read_csv("./dbikes/dublinbike-historical-data-2023-06.csv")
df4 = pd.read_csv("./dbikes/dublinbike-historical-data-2023-08.csv")
df5 = pd.read_csv("./dbikes/dublinbike-historical-data-2023-10.csv")
df6 = pd.read_csv("./dbikes/dublinbike-historical-data-2023-12.csv")
df7 = pd.read_csv("./dbikes/dublinbike-historical-data-2024-02.csv")

In [8]:
df = pd.concat([df0, df1, df2, df3, df4, df5, df6, df7])

In [9]:
df.head()

,STATION ID,TIME,LAST UPDATED,NAME,BIKE_STANDS,AVAILABLE_BIKE_STANDS,AVAILABLE_BIKES,STATUS,ADDRESS,LATITUDE,LONGITUDE
0,1,2022-12-01 00:00:03,2022-11-30 23:50:01,CLARENDON ROW,31,22,9,OPEN,Clarendon Row,53.3409,-6.26250
1,2,2022-12-01 00:00:03,2022-11-30 23:56:56,BLESSINGTON STREET,20,10,10,OPEN,Blessington Street,53.3568,-6.26814
2,3,2022-12-01 00:00:03,2022-11-30 23:57:03,BOLTON STREET,20,7,13,OPEN,Bolton Street,53.3512,-6.26986
3,4,2022-12-01 00:00:03,2022-11-30 23:57:02,GREEK STREET,20,15,5,OPEN,Greek Street,53.3469,-6.27298
4,5,2022-12-01 00:00:03,2022-11-30 23:57:49,CHARLEMONT PLACE,40,1,39,OPEN,Charlemont Street,53.3307,-6.26018

In [10]:
df.to_csv("./dbikes/dublinbike-historical-all.csv")

In [11]:
import csv

In [26]:
with open('./weather/weather2.csv', 'r') as inp, open('./weather/weather-cleaned.csv', 'w') as out:
    writer = csv.writer(out)
    for row in csv.reader(inp):
        if row[5] != "":
            writer.writerow(row)