In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [7]:
# Load all dublin bikes csvs
df0 = pd.read_csv("./dbikes/dublinbike-historical-data-2022-12.csv")
df1 = pd.read_csv("./dbikes/dublinbike-historical-data-2023-02.csv")
df2 = pd.read_csv("./dbikes/dublinbike-historical-data-2023-04.csv")
df3 = pd.read_csv("./dbikes/dublinbike-historical-data-2023-06.csv")
df4 = pd.read_csv("./dbikes/dublinbike-historical-data-2023-08.csv")
df5 = pd.read_csv("./dbikes/dublinbike-historical-data-2023-10.csv")
df6 = pd.read_csv("./dbikes/dublinbike-historical-data-2023-12.csv")
df7 = pd.read_csv("./dbikes/dublinbike-historical-data-2024-02.csv")

In [8]:
concat
df = pd.concat([df0, df1, df2, df3, df4, df5, df6, df7])

In [9]:
df.head()

,STATION ID,TIME,LAST UPDATED,NAME,BIKE_STANDS,AVAILABLE_BIKE_STANDS,AVAILABLE_BIKES,STATUS,ADDRESS,LATITUDE,LONGITUDE
0,1,2022-12-01 00:00:03,2022-11-30 23:50:01,CLARENDON ROW,31,22,9,OPEN,Clarendon Row,53.3409,-6.26250
1,2,2022-12-01 00:00:03,2022-11-30 23:56:56,BLESSINGTON STREET,20,10,10,OPEN,Blessington Street,53.3568,-6.26814
2,3,2022-12-01 00:00:03,2022-11-30 23:57:03,BOLTON STREET,20,7,13,OPEN,Bolton Street,53.3512,-6.26986
3,4,2022-12-01 00:00:03,2022-11-30 23:57:02,GREEK STREET,20,15,5,OPEN,Greek Street,53.3469,-6.27298
4,5,2022-12-01 00:00:03,2022-11-30 23:57:49,CHARLEMONT PLACE,40,1,39,OPEN,Charlemont Street,53.3307,-6.26018

In [10]:
# Write to file
df.to_csv("./dbikes/dublinbike-historical-all.csv")

In [11]:
import csv

In [26]:
# Remove the first few informational rows from the weather csv and save to cleaned version
with open('./weather/weather2.csv', 'r') as inp, open('./weather/weather-cleaned.csv', 'w') as out:
    writer = csv.writer(out)
    for row in csv.reader(inp):
        if row[5] != "":
            writer.writerow(row)

In [34]:
# Load in
weather_df = pd.read_csv('./weather/weather-cleaned.csv')
weather_df

/var/folders/6q/d_h4k1216h90crzgkghkzc9r0000gp/T/ipykernel_54711/4251833385.py:2: DtypeWarning: Columns (2,4,6,7,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  weather_df = pd.read_csv('./weather/weather-cleaned.csv')

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,msl
0,16/08/2003 01:00,0,0,0,9.2,0,8.9,8.5,11.1,95,1021.9
1,16/08/2003 02:00,0,0,0,9,0,8.7,8.5,11.1,96,1021.7
2,16/08/2003 03:00,0,0,0,8.2,0,8,7.7,10.5,96,1021.2
3,16/08/2003 04:00,0,0,0,8.4,0,8.1,7.9,10.7,97,1021.2
4,16/08/2003 05:00,0,0,0,7.7,0,7.5,7.3,10.2,97,1021.1
...,...,...,...,...,...,...,...,...,...,...,...
179371,31/01/2024 20:00,0,0.0,0,5.9,0,5.5,5.0,8.7,93,1026.2
179372,31/01/2024 21:00,0,0.1,0,4.9,0,4.4,3.7,8.0,92,1027.2
179373,31/01/2024 22:00,0,0.0,0,4.3,0,3.8,3.0,7.6,91,1028.4
179374,31/01/2024 23:00,0,0.0,0,4.1,0,3.5,2.5,7.3,89,1029.4
179375,01/02/2024 00:00,0,0.0,0,3.7,0,2.9,1.6,6.9,86,1030.2

In [35]:
weather_df.dtypes

date     object
ind       int64
rain     object
ind.1     int64
temp     object
ind.2     int64
wetb     object
dewpt    object
vappr    object
rhum     object
msl      object
dtype: object

In [36]:
weather_df['date'] = pd.to_datetime(weather_df['date'])

/var/folders/6q/d_h4k1216h90crzgkghkzc9r0000gp/T/ipykernel_54711/157525050.py:1: UserWarning: Parsing dates in %d/%m/%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  weather_df['date'] = pd.to_datetime(weather_df['date'])

In [37]:
weather_df.dtypes

date     datetime64[ns]
ind               int64
rain             object
ind.1             int64
temp             object
ind.2             int64
wetb             object
dewpt            object
vappr            object
rhum             object
msl              object
dtype: object

In [38]:
# We only want weather after the start of 2022
cutoff_date = pd.to_datetime('2022-01-01')
cutoff_date

Timestamp('2022-01-01 00:00:00')

In [39]:
weather_df = weather_df[weather_df['date']>= cutoff_date]
weather_df

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,msl
161111,2022-01-01 00:00:00,0,0.0,0,13.1,0,11.4,9.8,12.1,80,1007.3
161112,2022-01-01 01:00:00,0,0.0,0,13.9,0,11.2,8.5,11.1,70,1005.8
161113,2022-01-01 02:00:00,0,0.0,0,14.0,0,11.0,8.1,10.8,67,1005.0
161114,2022-01-01 03:00:00,0,0.0,0,14.6,0,11.4,8.4,11.0,66,1003.9
161115,2022-01-01 04:00:00,0,0.0,0,14.9,0,12.1,9.5,11.9,70,1002.7
...,...,...,...,...,...,...,...,...,...,...,...
179371,2024-01-31 20:00:00,0,0.0,0,5.9,0,5.5,5.0,8.7,93,1026.2
179372,2024-01-31 21:00:00,0,0.1,0,4.9,0,4.4,3.7,8.0,92,1027.2
179373,2024-01-31 22:00:00,0,0.0,0,4.3,0,3.8,3.0,7.6,91,1028.4
179374,2024-01-31 23:00:00,0,0.0,0,4.1,0,3.5,2.5,7.3,89,1029.4
179375,2024-02-01 00:00:00,0,0.0,0,3.7,0,2.9,1.6,6.9,86,1030.2

In [40]:
# Now save back to cleaned-csv
weather_df.to_csv('./weather/weather-cleaned.csv')

In [45]:
# Join the csvs
tol = pd.Timedelta('1 hour')
df['TIME'] = pd.to_datetime(df['TIME'])

df.index = df['TIME']
weather_df.index = weather_df['date']

In [46]:
bike_weather = pd.merge_asof(left=df, right=weather_df, right_index=True, left_index=True, direction='nearest', tolerance=tol)
bike_weather

,STATION ID,TIME,LAST UPDATED,NAME,BIKE_STANDS,AVAILABLE_BIKE_STANDS,AVAILABLE_BIKES,STATUS,ADDRESS,LATITUDE,...,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,msl
TIME,,,,,,,,,,,,,,,,,,,,,
2022-12-01 00:00:03,1,2022-12-01 00:00:03,2022-11-30 23:50:01,CLARENDON ROW,31,22,9,OPEN,Clarendon Row,53.3409,...,0.0,0.0,0.0,7.4,0.0,7.2,6.9,10.0,96,1025.7
2022-12-01 00:00:03,2,2022-12-01 00:00:03,2022-11-30 23:56:56,BLESSINGTON STREET,20,10,10,OPEN,Blessington Street,53.3568,...,0.0,0.0,0.0,7.4,0.0,7.2,6.9,10.0,96,1025.7
2022-12-01 00:00:03,3,2022-12-01 00:00:03,2022-11-30 23:57:03,BOLTON STREET,20,7,13,OPEN,Bolton Street,53.3512,...,0.0,0.0,0.0,7.4,0.0,7.2,6.9,10.0,96,1025.7
2022-12-01 00:00:03,4,2022-12-01 00:00:03,2022-11-30 23:57:02,GREEK STREET,20,15,5,OPEN,Greek Street,53.3469,...,0.0,0.0,0.0,7.4,0.0,7.2,6.9,10.0,96,1025.7
2022-12-01 00:00:03,5,2022-12-01 00:00:03,2022-11-30 23:57:49,CHARLEMONT PLACE,40,1,39,OPEN,Charlemont Street,53.3307,...,0.0,0.0,0.0,7.4,0.0,7.2,6.9,10.0,96,1025.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-29 23:30:03,113,2024-02-29 23:30:03,2024-02-29 23:26:15,MERRION SQUARE SOUTH,40,34,6,OPEN,Merrion Square South,53.3386,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-02-29 23:30:03,114,2024-02-29 23:30:03,2024-02-29 23:22:41,WILTON TERRACE (PARK),40,39,1,OPEN,Wilton Terrace (Park),53.3337,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-02-29 23:30:03,115,2024-02-29 23:30:03,2024-02-29 23:22:04,KILLARNEY STREET,30,0,30,OPEN,Killarney Street,53.3548,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-02-29 23:30:03,116,2024-02-29 23:30:03,2024-02-29 23:26:36,BROADSTONE,30,25,5,OPEN,Broadstone,53.3547,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-02-29 23:30:03,117,2024-02-29 23:30:03,2024-02-29 23:28:02,HANOVER QUAY EAST,40,39,1,OPEN,Hanover Quay East,53.3437,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
bike_weather.to_csv('bike_weather_joined.csv')

In [2]:
print(df.shape)
print(weather_df.shape)
print(bike_weather.shape)

NameError: name 'df' is not defined

In [3]:
bike_weather = pd.read_csv("bike_weather_joined.csv")

/var/folders/6q/d_h4k1216h90crzgkghkzc9r0000gp/T/ipykernel_68405/2265777740.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  bike_weather = pd.read_csv("bike_weather_joined.csv")

In [6]:
bike_weather

,TIME,STATION ID,AVAILABLE_BIKE_STANDS,AVAILABLE_BIKES,rain,temp
0,2022-12-01 00:00:03,1,22,9,0.0,7.4
1,2022-12-01 00:00:03,2,10,10,0.0,7.4
2,2022-12-01 00:00:03,3,7,13,0.0,7.4
3,2022-12-01 00:00:03,4,15,5,0.0,7.4
4,2022-12-01 00:00:03,5,1,39,0.0,7.4
...,...,...,...,...,...,...
1316034,2024-02-29 23:30:03,113,34,6,NaN,NaN
1316035,2024-02-29 23:30:03,114,39,1,NaN,NaN
1316036,2024-02-29 23:30:03,115,0,30,NaN,NaN
1316037,2024-02-29 23:30:03,116,25,5,NaN,NaN
1316038,2024-02-29 23:30:03,117,39,1,NaN,NaN

In [5]:
# Drop columns we won't use
bike_weather = bike_weather[["TIME", "STATION ID", "AVAILABLE_BIKE_STANDS", "AVAILABLE_BIKES", "rain", "temp"]]