In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dublinbike-historical-data-2021-10.csv")

df.head()

,STATION ID,TIME,LAST UPDATED,NAME,BIKE_STANDS,AVAILABLE_BIKE_STANDS,AVAILABLE_BIKES,STATUS,ADDRESS,LATITUDE,LONGITUDE
0,2,2021-10-01 00:00:03,2021-09-30 23:56:31,BLESSINGTON STREET,20,7,13,OPEN,Blessington Street,53.3568,-6.26814
1,3,2021-10-01 00:00:03,2021-09-30 23:53:57,BOLTON STREET,20,1,19,OPEN,Bolton Street,53.3512,-6.26986
2,4,2021-10-01 00:00:03,2021-09-30 23:56:37,GREEK STREET,20,11,9,OPEN,Greek Street,53.3469,-6.27298
3,5,2021-10-01 00:00:03,2021-09-30 23:54:50,CHARLEMONT PLACE,40,0,40,OPEN,Charlemont Street,53.3307,-6.26018
4,6,2021-10-01 00:00:03,2021-09-30 23:56:04,CHRISTCHURCH PLACE,20,4,16,OPEN,Christchurch Place,53.3434,-6.27012

In [6]:
df['TIME'] = pd.to_datetime(df['TIME'])

In [8]:
df.dtypes

STATION ID                        int64
TIME                     datetime64[ns]
LAST UPDATED                     object
NAME                             object
BIKE_STANDS                       int64
AVAILABLE_BIKE_STANDS             int64
AVAILABLE_BIKES                   int64
STATUS                           object
ADDRESS                          object
LATITUDE                        float64
LONGITUDE                       float64
dtype: object

In [12]:
# Get day of the week
df['weekday'] = df['TIME'].dt.day_name()
df['hour'] = df['TIME'].dt.hour
df.head()

,STATION ID,TIME,LAST UPDATED,NAME,BIKE_STANDS,AVAILABLE_BIKE_STANDS,AVAILABLE_BIKES,STATUS,ADDRESS,LATITUDE,LONGITUDE,weekday,hour
0,2,2021-10-01 00:00:03,2021-09-30 23:56:31,BLESSINGTON STREET,20,7,13,OPEN,Blessington Street,53.3568,-6.26814,Friday,0
1,3,2021-10-01 00:00:03,2021-09-30 23:53:57,BOLTON STREET,20,1,19,OPEN,Bolton Street,53.3512,-6.26986,Friday,0
2,4,2021-10-01 00:00:03,2021-09-30 23:56:37,GREEK STREET,20,11,9,OPEN,Greek Street,53.3469,-6.27298,Friday,0
3,5,2021-10-01 00:00:03,2021-09-30 23:54:50,CHARLEMONT PLACE,40,0,40,OPEN,Charlemont Street,53.3307,-6.26018,Friday,0
4,6,2021-10-01 00:00:03,2021-09-30 23:56:04,CHRISTCHURCH PLACE,20,4,16,OPEN,Christchurch Place,53.3434,-6.27012,Friday,0